@import "./variables";

* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
html {
  color: $black-text;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
}
